:root{
	--color-primary: #D27722;
	--color-secondary: #FFBB7C;
	--color-accent: #FFDBB8;
	--color-white: #FFFFFF;
	--color-gray: #FFF6EE;
	--color-black: #252422;
	--color-light-black: #2B2A28;

	--font-title: 'Rubik';
	--font-body: 'Outfit';
	--font-accent: 'Pacifico';
	--font-secondary: 'Kanit';
}
body{
	margin: 0;
	font-family: var(--font-body);
	color: var(--color-light-black);
}
* {
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
h1{
	margin: 0;
}
section{
	padding: 80px 0;
}
.container{
	margin: 0 auto;
	max-width: 1120px;
}

/* Планшет */
@media (max-width: 1279px) {
	.container{
		padding: 0 40px;
	}
	section{
		padding: 64px 0;
	}
}
/* Телефон */
@media (max-width: 767px) {
	.container{
		padding: 0 16px;
	}
	section{
		padding: 50px 0;
	}
}

/* Header */
.header{
	border-bottom: 1px solid var(--color-secondary);
}
.header .logo{
	position: relative;
	font-family: var(--font-title);
	font-weight: 700;
	font-size: 32px;
	color: var(--color-primary);
}
.header .logo::after{
	content: '';
	width: 2px;
	height: 60%;
	position: absolute;
	top: 50%;
	right: -32px;
	transform: translateX(-100%) translateY(-50%);
	border-radius: 1px;
	background-color: var(--color-secondary);
}
.header-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
.header-wrap .wrap-nav{
	display: flex;
	column-gap: 64px;
	align-items: center;
}
.header-wrap nav ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	column-gap: 24px;
}
.header-wrap nav ul li a{
	font-family: var(--font-body);
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: var(--color-black);
}
.header .btn-blog{
	font-family: var(--font-body);
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: var(--color-white);
	background-color: var(--color-primary);
	padding: 8px 45px;
	border-radius: 4px;
}
.header .btn-burger{
	display: none;
}

/* Планшет */
@media (max-width: 1279px) {
	.header{
		position: relative;
	}
	.header .logo::after{
		display: none;
	}
	.header-wrap nav,
	.header .btn-blog{
		display: none;
	}
	.header .btn-burger{
		display: block;
	}
	.header .btn-burger label{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 5px;
		width: 41px;
		height: 41px;
		border-radius: 12px;
		background-color: var(--color-primary);
	}
	.header .btn-burger label span{
		display: block;
		width: 21px;
		height: 2px;
		border-radius: 1px;
		background-color: var(--color-white);
		transition: 0.5s;
	}
	#burger{
		display: none;
	}
	/* Span 1 */
	#burger:checked + label span:nth-child(3n - 2) {
		transform: translateY(5px) rotate(-45deg);
	}
	/* Span 2 */
	#burger:checked + label span:nth-child(3n - 1) {
		display: none;
	}
	/* Span 3 */
	#burger:checked + label span:nth-child(3n) {
		transform: translateY(-2px) rotate(45deg);
	}
	#burger:checked ~ .menu-mob{
		display: flex;
	}
	.menu-mob{
		position: absolute;
		display: none;
		left: 0;
		right: 0;
		top: 91px;
		min-height: calc(100vh - 91px);
		align-items: center;
		justify-content: center;
		background-color: var(--color-primary);
		padding: 90px 16px;
		overflow-y: auto;
	}
	.menu-mob ul{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		row-gap: 16px;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.menu-mob ul li a{
		position: relative;
		font-family: var(--font-body);
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		color: var(--color-secondary);
		transition: 0.5s;
	}
	.menu-mob ul li.active a{
		padding-bottom: 5px;
		color: var(--color-white);
	}
	.menu-mob ul li.active a::after{
		content: '';
		height: 2px;
		background-color: var(--color-white);
		position: absolute;
		bottom: 0;
		left: -5px;
		right: -5px;
	}
}

/* Main */
.main{
	min-height: calc(100vh - 92px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-wrap{
	display: grid;
	grid-template-columns: 1fr 450px;
	gap: 85px;
}
.main-wrap .content h1{
	font-family: var(--font-title);
	font-style: normal;
	font-weight: 700;
	font-size: 61px;
	line-height: 113.3%;
	letter-spacing: -0.04em;
	color: var(--color-black);
}
.main-wrap .content h1 span{
	font-family: var(--font-accent);
	font-weight: 400;
	color: var(--color-primary);
}
.main-wrap .content .description{
	font-family: var(--font-body);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: var(--color-light-black);
	margin: 24px 0;
}
.main-wrap .content .play{
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 24px;

	font-family: var(--font-body);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: var(--color-black);
}
.main-wrap .content .play img{
	padding-right: 11px;
}
.main-wrap .content ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	column-gap: 24px;
}
.main-wrap .content ul li a{
	display: block;
	font-family: var(--font-body);
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	border: 2px solid var(--color-primary);
	padding: 8px 16px;
	border-radius: 4px;
}
.main-wrap .content ul li:first-child a{
	color: var(--color-white);
	background-color: var(--color-primary);
}
.main-wrap .content ul li:last-child a{
	color: var(--color-primary);
}
.main-wrap .image{
	height: fit-content;
	border-radius: 32px;
	overflow: hidden;
}
.main-wrap .image img{
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

/* Планшет */
@media (max-width: 1279px) {
	.main-wrap{
		grid-template-columns: 1fr;
		gap: 20px;
	}
	.main-wrap .image{
		order: -1;
	}
	.main-wrap .content h1{
		text-align: center;
		font-size: 50px;
	}
	.main-wrap .content .description{
		text-align: center;
		margin: 20px 0;
	}
	.main-wrap .content .play{
		margin: 0 auto 20px auto;
	}
	.main-wrap .content ul{
		justify-content: center;
	}
}
/* Телефон */
@media (max-width: 767px) {
	.main-wrap .content h1{
		font-size: 32px;
		line-height: 113.3%;
		letter-spacing: -0.02em;
	}
	.main-wrap .content .description{
		margin: 24px 0;
	}
	.main-wrap .content .play{
		margin: 0 auto 24px auto;
	}
	.main-wrap .content ul{
		flex-direction: column;
		row-gap: 16px;
	}
}

/* Statistic */
.statistic{
	position: relative;

	&::before{
		content: '';
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		background-color: var(--color-secondary);

		@media (width < 1280px){
			display: none;
		}
	}
	ul{
		position: relative;
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 29px;
		padding: 24px;
		background-color: var(--color-gray);
		border: 1px solid var(--color-secondary);
		border-radius: 16px;

		@media (width < 1280px){
			padding: 24px 20px;
		}
		@media (width < 768px){
			padding: 23px 12px;
			grid-template-columns: 1fr;
		}
		li{
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 10px;
			padding: 20px;

			h3{
				display: flex;
				column-gap: 10px;
				margin: 0;
				font-family: var(--font-title);
				font-style: normal;
				font-weight: 700;
				font-size: 40px;
				line-height: 47px;
				letter-spacing: -0.02em;
				color: var(--color-primary);

				@media (width < 1280px){
					font-size: 32px;
					line-height: 38px;
				}
				@media (width < 768px){
					font-size: 40px;
					line-height: 47px;
				}
			}
			p{
				margin: 0;
				font-family: var(--font-body);
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				color: var(--color-light-black);
			}
		}
	}
}

/* Learn  */
.learn{
	h2{
		font-family: var(--font-title);
		font-style: normal;
		font-weight: 600;
		font-size: 50px;
		line-height: 113.3%;
		letter-spacing: -0.02em;
		color: var(--color-black);
		margin: 0;

		@media (width < 1280px){
			width: 100%;
			text-align: center;
			font-size: 36px;
		}
		@media (width < 768px){
			font-size: 30px;
		}
	}
	.subtitle{
		font-family: var(--font-body);
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 167.5%;
		color: var(--color-black);
		margin: 16px 0 50px 0;

		@media (width < 1280px){
			width: 100%;
			text-align: center;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 20px;

		@media (width < 1280px){
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
		@media (width < 768px){
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, 1fr);
		}
		li{
			position: relative;
			display: flex;
			column-gap: 24px;
			border-radius: 16px;
			border: 1px solid var(--color-secondary);
			padding: 24px;
			transition: 0.5s;

			@media (width < 1280px){
				padding: 20px;
				column-gap: 20px;
			}
			@media (width < 768px){
				padding: 16px;
				column-gap: 16px;
			}
			&::before{
				content: '';
				width: 24px;
				height: 24px;
				position: absolute;
				top: 24px;
				right: 24px;
				background-image: url('../icons/arrow.svg');
				transition: 0.5s;
			}
			&:hover{
				border: 1px solid var(--color-primary);
				background-color: var(--color-primary);

				&::before{
					background-image: url('../icons/fire.svg');
				}
				.img-wrap{
					img{
						filter: brightness(0) invert(1);
					}
				}
				.content{
					color: var(--color-white);

					h4{
						font-weight: 700;
					}
				}
			}
			.img-wrap{
				img{
					transition: 0.5s;
				}
			}
			.content{
				color: var(--color-black);
				transition: 0.5s;

				h4{
					font-family: var(--font-title);
					font-style: normal;
					font-weight: 600;
					font-size: 24px;
					line-height: 113.3%;
					letter-spacing: -0.02em;
					margin: 0 0 4px 0;
					transition: 0.5s;

					@media (width < 1280px){
						font-size: 20px;
					}
				}
				p{
					margin: 0;
					font-family: var(--font-body);
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 150%;
				}
			}
		}
	}
}

/* Benefits */
.benefits{
	h2{
		font-family: var(--font-title);
		font-style: normal;
		font-weight: 600;
		font-size: 50px;
		line-height: 113.3%;
		letter-spacing: -0.02em;
		color: var(--color-black);
		margin: 0;

		@media (width < 1280px){
			width: 100%;
			text-align: center;
			font-size: 36px;
		}
		@media (width < 768px){
			font-size: 30px;
		}
	}
	.subtitle{
		font-family: var(--font-body);
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 167.5%;
		color: var(--color-black);
		margin: 16px 0 50px 0;

		@media (width < 1280px){
			width: 100%;
			text-align: center;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		@media (width < 1280px){
			grid-template-columns: 1fr;
		}
		li{
			display: flex;
			flex-direction: column;
			align-items: center;

			.img-wrap{
				width: 100px;
				height: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				background-color: var(--color-primary);
			}
			h4{
				margin: 27px 0;
				font-family: var(--font-title);
				font-style: normal;
				font-weight: 600;
				font-size: 32px;
				line-height: 38px;
				letter-spacing: -0.02em;
				color: var(--color-black);

				@media (width < 768px){
					font-size: 28px;
				}
			}
			p{
				margin: 0;
				font-family: var(--font-body);
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 160%;
				text-align: center;
				color: var(--color-black);
			}
		}
	}
}

/* Chef */
.chef{
	.chef-wrap{
		display: grid;
		grid-template-columns: 1fr 453px;
		gap: 20px;
		align-items: center;

		@media (width < 1280px){
			grid-template-columns: 1fr;
			gap: 42px;
		}
		@media (width < 768px){
			display: flex;
			flex-direction: column;
			row-gap: 32px;
		}
		.content{
			h2{
				font-family: var(--font-title);
				font-style: normal;
				font-weight: 600;
				font-size: 50px;
				line-height: 113.3%;
				letter-spacing: -0.02em;
				color: var(--color-black);
				margin: 0;

				@media (width < 1280px){
					width: 100%;
					font-size: 36px;
				}
				@media (width < 768px){
					font-size: 30px;
				}
			}
			p{
				margin: 16px 0;
				font-family: var(--font-body);
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 160%;
				color: var(--color-light-black);

				@media (width < 1280px){
					margin: 15px 0;
				}
				@media (width < 768px){
					margin: 27px 0;
				}
			}
			ul{
				margin: 0;
				padding: 0 0 0 30px;
				list-style-type: none;
				display: flex;
				flex-direction: column;
				row-gap: 16px;

				@media (width < 1280px){
					row-gap: 8px;
				}
				li{
					position: relative;
					font-family: var(--font-body);
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 160%;
					color: var(--color-light-black);

					&::before{
						content: '';
						width: 22px;
						height: 22px;
						background-image: url('/assets/icons/token-1.png');
						background-size: cover;
						background-repeat: no-repeat;
						position: absolute;
						top: 2px;
						left: -8px;
						transform: translateX(-100%);
					}
				}
			}
			a{
				display: block;
				width: fit-content;
				border-radius: 4px;
				padding: 8px 16px;
				background-color: var(--color-primary);
				font-family: var(--font-body);
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 23px;
				margin-top: 16px;
				color: var(--color-white);
				transition: 0.5s;

				@media (width < 1280px){
					margin-top: 15px;
				}
				@media (width < 768px){
					margin-top: 27px;
				}

				&:hover{
					background-color: var(--color-secondary);
				}
			}
		}
		.img-wrap{
			height: fit-content;
			border-radius: 32px;
			overflow: hidden;

			@media (width < 1280px){
				order: -1;
			}
			@media (width < 768px){
				width: 100vw;
				border-radius: 0;
			}
			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
}

/* Student */
.student{
	@media (width < 1280px){
		background-color: var(--color-primary);
	}
	@media (width < 768px){
		background-color: transparent;
	}
	.student-wrap{
		display: grid;
		grid-template-columns: 475px 1fr;
		border-radius: 26px;
		overflow: hidden;
		background-color: var(--color-primary);

		@media (width < 1280px){
			grid-template-columns: 280px 1fr;
			gap: 20px;
			border-radius: 0;
			background-color: transparent;
		}
		@media (width < 768px){
			display: flex;
			flex-direction: column;
			gap: 0;
			overflow: visible;
		}
		.img-wrap{
			@media (width < 768px){
				width: 100vw;
				max-height: 480px;
				margin-left: -16px;
			}
			img{
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				margin: 0;

				@media (width < 1280px){
					border-radius: 16px;
				}
				@media (width < 768px){
					border-radius: 0;
				}
			}
		}
		.content{
			padding: 82px 48px;

			@media (width < 1280px){
				padding: 0;
			}
			@media (width < 768px){
				padding: 32px 0 50px 0;
				background-color: var(--color-primary);
				width: 100vw;
				margin-left: -16px;
				padding-left: 16px;
				padding-right: 16px;
			}
			h2{
				font-family: var(--font-title);
				font-style: normal;
				font-weight: 700;
				font-size: 50px;
				line-height: 113.3%;
				letter-spacing: -0.02em;
				color: var(--color-white);
				margin: 0;

				@media (width < 1280px){
					width: 100%;
					font-size: 36px;
				}
				@media (width < 768px){
					font-size: 30px;
				}
			}
			p{
				margin: 31px 0;
				font-family: var(--font-body);
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 160%;
				color: var(--color-white);

				@media (width < 768px){
					margin: 40px 0;
				}
			}
			ul{
				margin: 0;
				padding: 0 0 0 30px;
				list-style-type: none;
				display: flex;
				flex-direction: column;
				row-gap: 16px;

				@media (width < 1280px){
					row-gap: 8px;
				}
				li{
					position: relative;
					font-family: var(--font-body);
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 160%;
					color: var(--color-white);

					&::before{
						content: '';
						width: 22px;
						height: 22px;
						background-image: url('/assets/icons/token-2.png');
						background-size: cover;
						background-repeat: no-repeat;
						position: absolute;
						top: 2px;
						left: -8px;
						transform: translateX(-100%);
					}
				}
			}
			a{
				width: fit-content;
				display: block;
				border-radius: 4px;
				padding: 8px 16px;
				font-family: var(--font-body);
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 23px;
				color: var(--color-white);
				border: 2px solid var(--color-white);
				margin-top: 31px;
				transition: 0.5s;

				@media (width < 768px){
					margin-top: 40px;
				}

				&:hover{
					background-color: var(--color-white);
					color: var(--color-primary);
				}
			}
		}
	}
}

/* Blog */
.blog{
	.blog-wrap{
		h3{
			margin: 0;
			font-family: var(--font-title);
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 113.3%;
			color: var(--color-black);
			margin-bottom: 50px;

			@media (width < 1280px){
				margin-bottom: 32px;
				font-weight: 700;
				letter-spacing: -0.02em;
			}
			@media (width < 768px){
				font-weight: 600;
				font-size: 36px;
			}
		}
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 20px;

			@media (width < 1280px){
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: auto;
			}
			@media (width < 768px){
				grid-template-columns: 1fr;
				gap: 16px;
			}
			li{
				overflow: hidden;
				border-radius: 16px;
				border: 1px solid var(--color-secondary);

				a{
					display: block;
					text-decoration: none;

					.img-wrap{
						img{
							display: block;
							width: 100%;
							height: auto;
							object-fit: cover;

							@media (width < 768px){
								max-height: 280px;
							}
						}
					}
					.content{
						padding: 20px 25px;

						.date{
							display: flex;
							align-items: center;
							column-gap: 6px;
							margin-bottom: 9px;

							img{
								display: block;
							}
							span{
								color: var(--color-light-black);
								font-family: var(--font-body);
								font-style: normal;
								font-weight: 400;
								font-size: 18px;
								line-height: 23px;
							}
						}
						h4{
							margin: 0;
							color: var(--color-black);
							font-family: var(--font-title);
							font-style: normal;
							font-weight: 600;
							font-size: 20px;
							line-height: 133.8%;
						}
					}
				}
			}
		}
	}
}

/* Footer */
.footer{
	@media (width < 1280px){
		background: var(--color-primary);
	}
	.footer-wrap{
		background: var(--color-primary);
		padding: 24px;
		border-radius: 24px 24px 0 0;

		@media (width < 1280px){
			background: unset;
			padding: 50px 0;
			border-radius: 0;
		}
		.footer-top{
			display: flex;
			justify-content: space-between;

			@media (width < 1280px){
				flex-direction: column;
				justify-content: unset;
			}
			.logo-footer{
				display: block;
				font-family: var(--font-title);
				font-style: normal;
				font-weight: 700;
				font-size: 56px;
				line-height: 66px;
				letter-spacing: -0.02em;
				color: var(--color-white);

				@media (width < 1280px){
					width: fit-content;
					margin-bottom: 32px;
				}
				@media (width < 768px){
					margin: 0 auto 32px auto;
					font-size: 60px;
					line-height: 71px;
				}
			}
			.nav{
				display: flex;
				column-gap: 70px;

				@media (width < 1280px){
					justify-content: space-between;
				}
				@media (width < 768px){
					flex-direction: column;
					align-items: center;
					row-gap: 32px;
				}
				nav{
					@media (width < 768px){
						display: flex;
						flex-direction: column;
						align-items: center;
					}
					h4{
						margin: 0 0 16px 0;
						font-family: var(--font-body);
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 150%;
						text-transform: uppercase;
						color: var(--color-white);

						@media (width < 768px){
							font-size: 22px;
						}
					}
					ul{
						margin: 0;
						padding: 0;
						list-style-type: none;
						display: flex;
						flex-direction: column;
						row-gap: 8px;

						@media (width < 768px){
							align-items: center;
						}
						li{
							a{
								display: block;
								text-decoration: none;
								font-family: var(--font-body);
								font-style: normal;
								font-weight: 400;
								font-size: 20px;
								line-height: 150%;
								color: var(--color-secondary);

								@media (width < 768px){
									font-size: 22px;
								}
							}
						}
					}
				}
			}
		}
		.footer-bottom{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 20px;
			padding-top: 20px;
			border-top: 2px solid var(--color-secondary);

			@media (width < 1280px){
				flex-direction: column;
				border-top: unset;
				padding: 0;
				margin: 0;
			}
			.social-networks{
				margin: 0;
				padding: 0;
				list-style-type: none;
				display: flex;
				column-gap: 16px;

				@media (width < 1280px){
					width: 100%;
					justify-content: center;
					padding: 24px 0;
					margin: 72px 0 32px 0;
					position: relative;
				}
				@media (width < 768px){
					margin: 32px 0;
				}
				&::before{
					@media (width < 1280px){
						content: '';
						width: 100vw;
						height: 2px;
						background-color: var(--color-secondary);
						position: absolute;
						top: 0;
					}
				}
				&::after{
					@media (width < 1280px){
						content: '';
						width: 100vw;
						height: 2px;
						background-color: var(--color-secondary);
						position: absolute;
						bottom: 0;
					}
				}
				li{
					a{
						display: block;
						text-decoration: none;

						img{
							width: 24px;
							height: 24px;
							object-fit: cover;
						}
					}
				}
			}
			.copyright{
				font-family: var(--font-body);
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 150%;
				color: var(--color-white);

				@media (width < 768px){
					text-align: center;
				}
			}
		}
	}
}